@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito";
    
}
body {
    background-color: rgb(211, 211, 211) !important;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99vh;
    width: 100%;
    
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/static/leaderboard/images/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    overflow-x: hidden;
}
.badge_icon {
    height: 300px;  
    min-width: 250px;
    @media screen and (max-width: 320px){
        height: 250px;
    }
}
.header h2 {
    margin-top: 20px;
    color: rgb(235, 235, 235);
    
    font-size: clamp(1.1rem, 6vw, 4rem);
    font-family: 'Tourney'
}
.go-back {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgb(216, 216, 216);
    font-size: 1.5rem;
}
.table-container {
    min-height: 100vh; 
    width: 100%;
    z-index: 999;

}
table {
    margin: 10px auto;
    width: 90% !important;
     @media  screen and (max-width:420px) {
         width: 98% !important;
     }
     font-size: 1.3rem;
     @media screen and (max-width: 690px){
        .fa-trophy, .fa-piggy-bank {
            display: none;
        }
     }
     
}
.headers {
    height: 100px;
    background: rgb(11, 11, 41) !important;
    
    th {
        padding-bottom: 30px !important;
        
        font-size: 1.3rem;
        @media screen and (max-width: 420px){
            font-size: 0.8rem;
        }
        @media screen and (max-width: 310px){
            font-size: 0.6rem;
            font-weight: normal;
        }
    }
    @media screen and (max-width: 420px){
        height: 30px;
    }
}
td, th {
 
    @media screen and (max-width: 420px){
        font-size: 0.8rem;
        
    }
    @media screen and (max-width: 340px){
        font-size: 0.7rem;
    }
    @media screen and (max-width: 300px){
        font-size: 0.5rem;
        img {
            height: 30px !important;
        }

    }
}
tbody {
    background: rgb(11, 11, 41) !important;
}
tbody tr:hover {
    background-color: rgb(23, 23, 48) !important;
}

.to-center {
    border-right: none !important;
    text-align: center !important;
}
.fa-chess-knight {
    height: 40px;
    @media screen and (max-width: 300px){
        height: auto !important; 
    }
}


