{% extends 'base.html' %}

{% block title %}
OWASP VITCC | Digital Locker
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    body
    {
       background: #060921;
    }
    .jumbotron
    {
        background: #060921;
    }
</style>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <span style="font-family: 'Cascadia Code ExtraLight';color: red;font-size: 4rem;">You've </span>
    <span style="font-family: 'Cascadia Code ExtraLight';color:skyblue;font-size: 4rem;">Reached the certificate template page</span>
</div>
{% endblock %}
